.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  padding: 2rem;
  margin-bottom: 3rem;
}
.number {
  font-size: 3rem;
  font-weight: 700;
}
.click_button {
  font-size: 2rem;
  font-weight: 700;
  background-color: #ebebeb;
  border: none;
  padding: 1rem;
  border-radius: 0.3rem;
}

.click_button:hover {
  background-color: lightgray;
}

.total {
  display: flex;
  justify-content: center;
}
