.profile {
  width: 400px;
  height: 450px;
  background-color: #ebebeb;
  border-radius: 0.2rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 52px 19px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 52px 19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 52px 19px rgba(0, 0, 0, 0.75);
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.new {
  font-size: 1.3rem;
  font-weight: 900;
  color: white;
  background-color: crimson;
  padding: 0.3rem 0.8rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  position: absolute;
  right: 5%;
  top: 10%;
}

.avartar {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
}
